.chart-switch > button {
    border: 0;
    border-radius: "10px";
    color: "#C4C4C4";
    font-size: "14px";
    font-weight: 900;
}

.chart-switch > .clicked {
    background-color: black !important;
    color: green !important;
}

.help {
    background-color: #00d9ff;
    border: 0;
    border-radius: 20px;
    bottom: 10px;
    color:black;
    font-weight: 900;
    font-size: 20px;
    height: 50px;
    position: fixed;
    right: 10px;
    width: 120px;
}

.left {
    min-width: "350px";
}

.min-400 {
    min-width: 350px;
}

.rounded-7 {
    border-radius: 7px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-top-left-5 {
    border-top-left-radius: 5px;
}

.rounded-top-right-5 {
    border-top-right-radius: 5px;
}

.rounded-top-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rounded-bottom-10 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 515px) {
    .cyber-menu {
        display: none
    }
  }