.rounded-7 {
    border-radius: 7px;
}
.rounded-10 {
    border-radius: 10px;
}
.rounded-top-left-5 {
    border-top-left-radius: 5px;
}
.rounded-top-right-5 {
    border-top-right-radius: 5px;
}

.rounded-top-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rounded-bottom-10 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left {
    min-width: "350px";
}