.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
    height: 10px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}
.progress:after{
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}
.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}
.progress.orange:before{ border: 7px solid #fe3b3b; }
.progress.blue:before{ border: 7px solid #1a4966; }
.progress.green:before{ border: 7px solid #53aa2c; }
.progress.purple:before{ border: 7px solid #66406f; }
.progress.orange .progress-value{
    border: 5px solid #fe3b3b;
    color: #fe3b3b;
}
.progress.blue .progress-value{
    border: 5px solid #1a4966;
    color: #1a4966;
}
.progress.green .progress-value{
    border: 5px solid #53aa2c;
    color: #53aa2c;
}
.progress.purple .progress-value{
    border: 5px solid #66406f;
    color: #66406f;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}